<header>
  <a href="/" aria-label="Go to homepage">
  </a>
</header>

<style>
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
  }

  header {
    padding: 40px 0px;
  }

  @media (max-width: 768px) {
    header {
      padding: 18px;
    }

    .logo {
      width: 60px;
      height: 60px;
    }
  }
</style>