@font-face {
  font-family: "PixelFont";
  src: url("../font/ttf/PixelCode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  text-align: left;
  width: 80%;
  max-width: 900px;
  padding: 20px;
  min-height: 60vh;
  box-sizing: border-box;
}

.pixel-font {
  font-family: "PixelFont", sans-serif;
  font-size: 20px;
}

/* Additional styles */
a.link {
  color: rgba(87, 141, 230, 0.5);
  text-decoration: underline;
}

a.link:hover {
  text-decoration: none;
}

.projects {
  list-style-type: none;
  padding: 0;
}

.project-link {
  color: rgba(87, 141, 230, 0.5);
  text-decoration: underline;
}

.project-link:hover {
  text-decoration: none;
}

.list-marker {
  color: #fff;
  margin-right: 5px;
  font-size: 10px;
}

.hashtag {
  color: #999;
  font-size: 16px;
  margin-right: 3px;
}

li {
  margin: 10px 0;
}

.note {
  color: red;
}

body {
  background-color: white;
  color: black;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme {
  background-color: black;
  color: white;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

#theme-icon {
  color: rgba(0, 0, 0, 1);
}

body.dark-theme #theme-icon {
  color: white;
}

#theme-toggle:focus {
  outline: none;
}
